{{ title_suffix.contextual_links }}

{% if css %}
  <style type="text/css">{{ css|raw }}</style>
{% endif %}
<section{{ attributes.addClass('photo') }}>
  <div class="wrap center">
    {{ main }}
    {{ button }}
  </div>
</section>
