<article {{ attributes }}>
  {{ title_suffix.contextual_links }}
  {% if image %}
    <figure>
      {{ image }}
    </figure>
  {% endif %}
  {% if name or skills or main %}
    <div class="box-white">
      {{ name }}

      {% if skills %}
        <div class="skills">
          {{ skills }}
        </div>
      {% endif %}

      {% if contact %}
        <div class="contact">
          <h3>{% trans %}Get in touch{% endtrans %}</h3>
          {{ contact }}
        </div>
      {% endif %}

      {{ main }}
    </div>
  {% endif %}
</article>
